<div
  class="header pb-4 pt-1 pt-lg-4 d-flex align-items-center"
  style="
    min-height: 10px;
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-blue opacity-9"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p class="text-white mt-4 mb-0">Módulo para la gestión de productos</p>
      </div>
    </div>
  </div>
</div>
<br />
<!-- Boton para crear un nuevo paciente -->
<button
  class="btn btn-success mt-3 mb-3 ml-3"
  *ngIf="!formularioPaciente"
  (click)="formularioPaciente = true; botonCrearNuevoPaciente = false; tablaPaciente = false"
>
  Crear nuevo producto
</button>

<!-- Formulario de Pacientes -->
<div class="container-fluid mt-2" *ngIf="formularioPaciente">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card shadow">
        <div class="card-body">
          <div
            class="alert alert-success"
            *ngIf="pacienteCreado && !pacienteActualizado"
          >
            Producto creado con éxito!
          </div>
          <div
            class="alert alert-success"
            *ngIf="pacienteActualizado && !pacienteCreado"
          >
          Producto actualizado con éxito!
          </div>
          <form (ngSubmit)="!producto.id ? registroCita() : updateCita()">

            <div class="form-group">
              <label for="fecha">Nombre</label>
              <input
                type="text"
                id="nombre"
                class="form-control"
                placeholder="nombre"
                [(ngModel)]="producto.nombre"
                name="nombre"
              />
            </div>

            <div class="form-group">
              <label for="fecha">Fecha vencimiento</label>
              <input
                type="date"
                id="fecha"
                class="form-control"
                placeholder="Fecha"
                [(ngModel)]="producto.fechaVencimiento"
                name="fecha"
              />
            </div>

            <div class="form-group">
              <label for="precio">Precio</label>
              <input
                type="number"
                id="precio"
                class="form-control"
                placeholder="Precio"
                [(ngModel)]="producto.precio"
                name="precio"
              />
            </div>

            <div class="form-group">
              <label for="precio">Existencia</label>
              <input
                type="number"
                id="existencia"
                class="form-control"
                placeholder="Existencia"
                [(ngModel)]="producto.existencia"
                name="existencia"
              />
            </div>
            

            <button type="submit" class="btn btn-primary">
              {{ producto.id ? 'Actualizar Producto' : 'Crear Producto' }}
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="cancelarEdicion()"
            >
              Cancelar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tabla de Pacientes -->
<div class="container-fluid mt-5" *ngIf="!formularioPaciente">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h2>Lista de productos</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Fecha vencimiento</th>
              <th>Precio</th>
              <th>Existencia</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paciente of productos">
              <td>{{ paciente.id }}</td>
              <td>{{ paciente.nombre }}</td>
              <td>{{ paciente.fechaVencimiento  }}</td>
              <td>{{ paciente.precio }}</td>
              <td>{{ paciente.existencia }}</td>
              <td>
                <button
                  class="btn btn-primary btn-sm"
                  (click)="editarPaciente(paciente)"
                >
                  Editar
                </button>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="eliminarPaciente(paciente.id)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Paginación -->
      <div class="text-center">
        <nav aria-label="Navegación de página">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a
                class="page-link mx-4"
                (click)="cambiarPagina(currentPage - 1)"
                aria-disabled="true"
                >Anterior</a
              >
            </li>
            <li class="page-item active" aria-current="page">
              <span class="page-link">{{ currentPage }}</span>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link mx-4" (click)="cambiarPagina(currentPage + 1)"
                >Siguiente</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
